@font-face {
  font-family: 'CrystalTracedVF';
  src: url('./fonts/CrystalTracedVF.ttf') format('truetype');
}

.btn {
  border: none;
  background-color: #FFFFFF; 
  font-family: sans-serif; 
}

.words {
  font-family: 'CrystalTracedVF'; 
  height: '100vh';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  font-size: '100vw';
  margin-top: '-0.08em';
}

.words p:nth-of-type(odd) {
  font-feature-settings: "calt" 1;
}

.words p:nth-of-type(even) {
  font-feature-settings: "calt" 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
